.registration {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_in_all {
    background: linear-gradient(45deg, #343a40 0 50%, #0c1117 50% 100%)
}

.registration_img_main {
    width: 220px;
    margin: 60px 0;
}

.log_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.user {
    width: 100%;
    margin-top: 20px;
    padding: 7px;
}


.form>label {
    color: black;
    font-size: 22px;
}

.form>input {

    padding: 20px;
    border-radius: 10px;
    outline: none;
    background: none;
    border: 1px solid #E2464C;
    color: black;
    margin-bottom: 20px;
}

/* */
.Auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
}

.Auth>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* left side */
.left {
    gap: 2rem;
}

.left>img {
    width: 4rem;
    height: 4rem;
}

.Webname>h1 {
    font-size: 3rem;
    background-color: red;

    /* Create the gradient. */
    background-image: var(--buttonBg);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.Webname>h6 {
    font-size: 0.85rem;
}

.infoForm {
    gap: 2rem;
}

.infoInput {
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    width: 100%;
}

.infoForm>div {

    gap: 1rem;

    width: 90%;
    margin-top: 20px;
}

.infoButton {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}

.authForm {
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.authForm>div {
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .registration {
        width: 100%;
    }

    .log_img {
        display: none;
    }

}